{% extends 'main.html' %}
{% load static %}
{% block content %}
<p style="text-align:center;font-style: oblique;text-shadow: 1px 1px 2px black;">Welcome {{request.user.etudiant}}!</p>
 <div class="row row-cols-1 row-cols-md-3">
  <div class="col mb-4">
{% for cour in cours %}

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
        {{cour.professeur}}</h5>        <p class="card-text">{{cour.cour}}</p>
        <a href="{{cour.docFILE}}"download><button class="btn btn-primary">Download</button></a>
         <p class="card-text">{{cour.partie}}</p>

        <a href="{{cour.docFILE}}" target="_blank"><button class="btn btn-primary">view</button></a>

        <p class="card-text">NOTE:The view is only available for desktop user</p>
      </div>
    </div>
  
  {% endfor %}
</div></div>
{% endblock content %}
